/*---Body---*/
body {
	background-image: linear-gradient(to bottom right, #68ba95, #37B9E9)
}

/*---Intro Component---*/
.intro {
	display: inline-block;
	position: absolute;
	top: 25%;
	left: 5%;
}

.intro-header1 {
	text-align: left;
	color: white;
}

.intro-header2 {
	text-align: left;
	color: white;
}

#intro-emphasis1 {
	color: #7B45FF;
}

#intro-emphasis2 {
	color: #F8EB26;
}

.intro-split {
	margin: 25px 0px;
	display: block;
	height: 2px;
	width: 100%;
	background: linear-gradient(to right, white, rgba(255, 255, 255, 0))
}

.intro-paragraph {
	color: white;
	font-size: 20px;
	width: 65%;
}

.spacer {
	margin: 15px 0px;
}

/*---Github Component---*/
#github-icon {
	color: #24292e;
	font-size: 36px;
	margin-bottom: -5px;
}

/*---Linkedin Component---*/
#linkedin-icon {
    color: #0073b1;
    font-size: 36px;
    margin-left: 0;
    transition: margin-left 2s;
    margin-bottom: -5px;
}

#linkedin-icon:hover {
	margin-left: 10px;
}

/*---Facebook Component---*/
#facebook-icon {
	color: #4267b2;
    font-size: 36px;
}
.social-container a {
	left: 0;
}

.social-container {
	position: left;
}

/*---Social Component---*/
.social-icons {
	list-style-type: none;
	position: absolute;
	left: 0;
	/*transform: translateX(-58%);*/
}

/*---Contact Component---*/
.contact-submit-button {
	margin-left: 15px;
	margin-top: 5px;
}

.contact-clear-button {
	margin-left: 5px;
	margin-top: 5px;
}

/*---Navbar---*/
nav {
	background-color: #FAFAFA;
	overflow: hidden;
	border-bottom: 1px solid #FAFAFA;
}

.hamburger {
	color: #7B45FF;
	padding-left: 5px;
}

.nav-link-wide {
	padding: 10px 10px;
	display: inline-block;
	vertical-align: middle;
	color: #7B45FF!important
}


.wideDiv {
	float: right;
}

.wideDiv a:hover {
	background-color: #F8EB26;
	color: #7B45FF!important;
	text-decoration: none!important;
	border-radius: 80px;
	padding: 5px 10px 5px 10px;
}

.wideDiv a:visited {
	color: #7B45FF!important;
}

.nav-link-narrow {
	padding: 3px 3px;
	display: inline-block;
	color: #7B45FF!important
}

.narrowLinks {
	list-style: none;
	background-color: #FAFAFA;
	padding-bottom: 10px;
}

.narrowLinks a:hover {
	background-color: #F8EB26;
	color: #7B45FF!important;
	text-decoration: none!important;
	border-radius: 80px;
	padding: 3px 3px;
}

.narrowLinks a:visited {
	color: #7B45FF!important;
}

/* Breakpoint when the "hamburger" menu is
// replaced by just the links.*/
@media (min-width: 480px) {
	.hamburger {
		display: none;
	}
}

@media (max-width: 479px) {
	.nav-link-wide {
		display: none;
	}
}