/*---Github Component---*/
#github-icon {
	color: #24292e;
	font-size: 36px;
	margin-bottom: -5px;
}

/*---Linkedin Component---*/
#linkedin-icon {
    color: #0073b1;
    font-size: 36px;
    margin-left: 0;
    transition: margin-left 2s;
    margin-bottom: -5px;
}

#linkedin-icon:hover {
	margin-left: 10px;
}

/*---Facebook Component---*/
#facebook-icon {
	color: #4267b2;
    font-size: 36px;
}
.social-container a {
	left: 0;
}

.social-container {
	position: left;
}

/*---Social Component---*/
.social-icons {
	list-style-type: none;
	position: absolute;
	left: 0;
	/*transform: translateX(-58%);*/
}

/*---Contact Component---*/
.contact-submit-button {
	margin-left: 15px;
	margin-top: 5px;
}

.contact-clear-button {
	margin-left: 5px;
	margin-top: 5px;
}

/*---Navbar---*/
nav {
	background-color: #00F;
	overflow: hidden;
	padding: 1em;

	a {
		color: #FFF;
	}

	a:visited {
		color: #FFF;
	}

	border-bottom: 1px solid #000;

	.navWide {
		display: none;
		margin: 0 auto;

		.wideDiv {
			text-align: center;

			a {
				text-decoration: none;
				display: inline-block;
				// Adjust padding to increase/decrease the space between links.
				padding: 0 2em;
			}
		}
	}

	// Navbar is set to default with the "hamburger" and links on the left
	// side of the screen. To move to the right of the screen, simply
	// change the three "float: Left;" references to read "float: right;".
	.navNarrow {

		i {
			float: right;
			cursor: pointer;
			color: #FFF;
		}

		.narrowLinks {
			display: none;

			a {
				text-decoration: none;
				display: block;
				float: right;
				clear: left;
				padding: 0.5em 0;
			}
		}
	}
}

// Breakpoint when the "hamburger" menu is
// replaced by just the links.
@media (min-width: 480px) {
	
	nav {

		.navWide {
			display: block;
		}

		.navNarrow {
			display: none;
		}
	}
}